::selection {
    background-color: var(--secondary-color);
    color: #fff;
}

::-moz-selection {
    background-color: #008062;
    color: #fff;
}


a {
    color: #008062;
}

.blog-item .more a:hover,
.tab-style-1 .nav > li > a.active,
.tab-style-1 .nav > li > a:hover,
.m-btn-theme:hover,
.m-btn-t-theme,
.blog-item .blog-content h4 a:hover,
.theme-color {
    color: #008062;
}


.m-btn-theme2nd:hover,
.tab-style-1 .nav > li > a:after,
.form-group .input-focus-effect,
.m-btn-t-theme:hover,
.theme-after-bg:after,
.theme-bg {
/*    background: #008062;*/
    background: var(--primary-color);
}

.m-btn-theme2nd:hover,
.m-btn-theme,
.m-btn-t-theme,
.border-theme,
.btn-theme {
    border-color: #008062;
}

.m-btn-theme,
.theme-before:before,
.theme-after:after,
.theme-hover:hover,
.theme-g-bg {
    background: #008062;
    /*background-image: -webkit-linear-gradient(45deg, #008062 0%, #6e19c2 100%);*/
    /*background-image: linear-gradient(45deg, #008062 0%, #6e19c2 100%);*/
}



@media (max-width: 991px) {
    .header {
        background: #008062;
    }
}


/*
 Second Color
-----------------------*/
.theme2nd-color {
    color: #00B289;
}

.tab-style-2 .nav-item .nav-link,
.m-btn-theme2nd,
.border-2nd {
    border-color: #2bc9b4;
}

.feature-box-02 .fb4-list-type li:before,
.tab-style-2 .nav-item .nav-link.active,
.price-table .price-body li:after,
.testimonial-col i,
.m-btn-theme2nd,
.theme-2nd {
    background: #00B289;
}

` .tab-style-1 .nav .nav-item a.active:after,
.theme-2nd-before:before,
.theme-2nd-after:after {
    background: #2bc9b4;
}

.m-btn-white:hover {
    background: #2bc9b4;
    border-color: #2bc9b4;
}

.help-text {
    background: rgba(52, 230, 92, 0.2);
}

/*edite*/

.overlay {
    height: 100%;
    width: 100%;
    transition: height 4s;
    display: none;
}

.tool-card:hover .overlay {
    display: block;
    transition: height 5s;
}

.red {
    background: #F35D38 !important;
}

.yellow {
    background: #D2C918 !important;
}

.blue {
    background: #4080d8 !important;
}

.green {
    background: #00B289 !important;
}

.about-section h2,
.about-section p {
    color: #fff;
}

.about-section h2:after {
    width: 81px !important;
    height: 16px !important;
    box-shadow: -2px -22px 0px 0px rgb(255, 255, 255) !important;
}

.home-taxt {
    position: absolute;
    top: -90px;
    left: 60px;
    width: 100%;
}
